.about {
  width: calc(100% - 14.4%);
  margin: 0 auto;
  padding: 80px 0 80px;
}

.about__article {
  display: grid;
  grid-template-areas: "img info";
  grid-template-columns: 38% 48%; /*repeat(auto-fit, minmax(38%, 600px))*/
  grid-column-gap: 56px;
}

.about__text {
  grid-area: info;
}

.about__avatar {
  grid-area: img;
  align-self: center;
  display: block;
  max-width: 464px;
  width: 100%;
}

.about__title {
  margin: 51px 0 0;
  align-self: center;
  font-family: 'Roboto Slab';
  font-weight: 400 ;
  font-size: 40px;
  line-height: 1.15;
}

.about__info {
  margin: 24px 0 0;
  font-size: 18px;
  line-height: 1.3;
}

@media screen and (max-width: 768px) {
  .about {
    width: calc(100% - 80px);
    padding: 40px 0;
  }

  .about__article {
    grid-template-columns: 34% 61%;
    grid-column-gap: 32px;
  }

  .about__title {
    margin: 0;
    font-size: 30px;
    line-height: 1.3;
  }

  .about__info {
    margin-top: 16px;
    max-width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .about {
    width: calc(100% - 32px);
    padding: 32px 0;
  }

  .about__article {
    display: flex;
    flex-direction: column;
  }

  .about__avatar {
    max-width: 272px;
  }

  .about__text {
    margin-top: 24px;
  }
}
/*.about__article {
  display: grid;
  grid-template-areas: "img title"
                        "img intro"
                        "img main";
  grid-template-columns: 464px 600px;
  grid-column-gap: 56px;
}

.about__avatar {
  grid-area: img;
}

.about__title {
  grid-area: title;
  margin: 0;
  align-self: center;
  font-family: 'Roboto Slab';
  font-weight: 400 ;
  font-size: 40px;
  line-height: 1.15;
}

.about__info {
  margin: 0;
  font-size: 18px;
  line-height: 1.33;
}

.about__info_type_intro {
  grid-area: intro;
}

.about__info_type_main {
  grid-area: main;
}*/