.header {
  position: relative;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .2);
  transition: background-color .3s ease-in-out;
}

.header_border_dark {
  box-shadow: inset 0 -1px 0 #D1D2D6;
}

.header__container {
  width: calc(100% - 14.4%);
  height: 24px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 30px 0 26px;
}

.header__link {
  position: relative;
  color: #1A1B22;
  text-decoration: none;
  cursor: pointer;
}

.header__link_type_logo {
  font-family: 'Roboto Slab', monospace;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.header__link_active {
  color: #fff;
}

.header__expand-btn {
  display: none;
  width: 24px;
  height: 24px;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.header__expand-icon {
  width: 100%;
  height: 100%;
}

.header__expand-rect {
  width: 16px;
  height: 2px;
  fill: #1A1B22;
  stroke-width:0;
  stroke: #1A1B22;
  transform-origin: 38% 50%;
  transition: transform .3s ease-in-out;
}

.header__expand-rect_top {
  transform: rotate(45deg);
}

.header__expand-rect_bottom {
  transform: rotate(-45deg);
}

.header__expand-rect_light {
  fill: #fff;
  stroke: #fff;
}

@media screen and (max-width: 768px) {
  .header__container {
    width: calc(100% - 80px);
    padding: 22px 0 18px;
  }
}

@media screen and (max-width: 620px) {
  .header__container {
    width: calc(100% - 32px);
    padding: 16px 0;
  }

  .header__link_type_logo {
    font-size: 16px;
    line-height: 1.5;
  }

  .header__expand-btn {
    display: block;
  }

  .header_dark {
    background-color: #1A1B22;
  }

  .header__container_mobile {
    visibility: hidden;
  }
}