.header {
  /*border-bottom: rgba(196, 196, 196, .01);*/
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .2);
  transition: background-color .3s ease-in-out;
}

.header__expanded {
  background-color: #1A1B22;;
}
.header_border_dark {
  box-shadow: inset 0 -1px 0 #D1D2D6;
}

.header__container {
  width: calc(100% - 14.4%);
  height: 24px;/*min-height instead decrease padding**/
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 30px 0 26px;
}
/*.header__logo {
  margin: 0;
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
}*/


/*.header__navbar {
  display: flex;
  align-items: center;
  margin-left: auto;
}*/

.header__link {
  position: relative;
  /*font-weight: 500;
  font-size: 18px;
  line-height: 1.33;*/
  color: #1A1B22;
  text-decoration: none;
  cursor: pointer;
}

.header__link_type_logo {
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

/*.header__logo_page_home,*/
/*.header__username_page_home*/
/*.header__link_page_home  {
  color: #fff;
}*/
.header__link_active {
  color: #fff;
}

.header__expand-btn {
  display: none;
  width: 24px;
  height: 24px;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.header__expand-icon {
  width: 100%;
  height: 100%;
}
.header__expand-rect {
  width: 16px;
  height: 2px;
  fill: #fff;
  stroke-width:0;
  stroke: #fff;
  transform-origin: 38% 50%;
  transition: transform .3s ease-in-out;
}

.header__expand-rect_top {
  transform: rotate(45deg);
}

.header__expand-rect_bottom {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {/*860*/
  .header__container {
    width: calc(100% - 80px);
    padding: 22px 0 18px;
  }
}

@media screen and (max-width: 620px) {/*696*/
  .header__container {
    width: calc(100% - 32px);
    padding: 16px 0;
  }

  .header__link_type_logo {
    font-size: 16px;
    line-height: 1.5;
  }

  .header__expand-btn {
    display: block;
  }

}
/*.header__link_active_home {
  transition: all .8s ease-in-out;
}*/
/*
.header__link_active_home {
  color: #fff;
}

.header__link_active_home::after {
  content: '';
  width: 68px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 47px;
  left: -10px;
}

.header__link_type_saved {
  margin-left: 76px;
}
.header__link_inactive {
  color: #B6BCBF;
}

.header__link_active_saved::after {
  content: '';
  width: 178px;
  height: 3px;
  background-color: #1A1B22;
  position: absolute;
  top: 47px;
  left: -30px;
}
*/
/*
.header__button-login {
  position: relative;
  width: 176px;
  margin-left: 34px;
  padding: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: #1A1B22; 
  background-color: transparent;
  border: 1px solid #1A1B22; 
  box-sizing: border-box;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
}/*fff*//*fff*/


/*@keyframes backgroundBtn {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(255, 255, 255, .2);
  }
  100% {
    background-color: transparent;
  }
}

.header__button-login:hover {
  animation: backgroundBtn 1 1s ease-in-out forwards;
}
*//*
.header__button-login::after {
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%; 
  transform: translateX(0);
  background-image: linear-gradient(
    45deg,
    transparent 20%,
    rgba(255, 255, 255,.6) 40%, 
    rgba(255,255,255,.4) 60%,
    transparent 80%);
    visibility: hidden;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

.header__button-login:hover::after {
  visibility: visible;
  animation: slide 1 1s ease-in-out forwards;
}

.header__button-login_page_home {
  color: #fff;
  border-color: #fff;
}

.header__link_type_logout {
  width: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 64px;
  padding: 12px 19px;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 100px;
}

.header__link_page_saved {
  border-color: #1A1B22;
}

.header__username {
  margin: 0;
}

.header__icon-logout {
  width: 18px;
  height: 16px;
  background-image: url('../../images/icon-logout.svg');
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;

}
.header__icon-logout_page_home {
  filter: invert(100%);
}*/