.footer {
  width: calc(100% - 14.4%);
  margin: 0 auto;
  padding: 32px 0 26px;
  display: flex;
  align-items: center;
}

.footer__copyright {
  margin: 0;
  font-size: 16px;
  line-height: 1.37;
  color: #B6BCBF;
  text-align: center;
}

.footer__navbar {
  margin-left: auto;
  display: flex;
}

.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.footer__links_no-icon {
  margin-right: 42px;
}

.footer__list-item {
  text-align: center;
}

.footer__list-item:nth-of-type(2n) {
  margin-left: 28px;
}

.footer__link {
  font-size: 18px;
  line-height: 1.33;
  color: #1A1B22;
  text-decoration: none;
  transition: color .3s ease-in-out;
}

.footer__link-icon {
  display: block;
  width: 24px;
  height: 24px;
  transition: opacity .3s ease-in-out;
}

.footer__icon {
  display: inline-block;
  width: 100%;
}

.footer__link:hover {
  color: #347EFF;
}

.footer__link-icon:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 80px);
    padding: 24px 0 18px;
  }

  .footer__links_no-icon {
    margin-right: 26px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    width: calc((100% - 32px));
    flex-direction: column;
    padding: 20px 0 22px;
  }

  .footer__navbar {
    width: -webkit-fill-available;
    margin-left: 0;
    margin-bottom: 40px;
    justify-content: space-between;
  }

  .footer__links {
    align-items: flex-start;
  }

  .footer__links_no-icon {
    margin-right: 18px;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__link {
    font-size: 18px;
  }

  .footer__copyright {
    order: 1;
    font-size: 16px;
  }

  .footer__list-item:nth-of-type(2n) {
     margin-left: 0;
  }

  .footer__list-item_path_home {
    margin-bottom: 22px;
  }

  .footer__list-item_path_github {
    margin-right: 28px;
  }
}