.news-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%/4), 1fr));
  justify-items: center;
  gap: 16px 16px;
  padding: 64px 0 64px;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .news-card-list {
    gap: 8px;
    padding: 32px 0 32px;
  }
}

@media screen and (max-width: 620px) {
  .news-card-list {
    padding: 24px 0 12px;
    grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%/2), 1fr));
  }
}