@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');


.page {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1A1B22;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}